h1 {
   color: #0a5c1f;
   font-size: 36px;;
   margin-bottom: 16px;
}
#navbar {
   background-color: #181717;
   padding: 10px;;
   border-radius: 5px;
}
button {
   background-color: #066774;
   color: rgb(240, 229, 229);
   border: none;
   padding: 3px 5px;
   cursor: pointer;
}
#logo {
  color: rgb(224, 224, 64);
  font-size: 25px;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   margin-bottom: 20px;
}
a {
   margin-right: 180px;
   color: #e9e5e5;
   text-decoration: none;
   font-size: 18px;
}
h2 {
   color: #ee1d1d;
   font-size: 24px;
   margin-bottom: 12px;
}
#footer {
   background-color: #3b3841;
   color: #e9e5e5;
   padding: 5px;
   text-align: center;
   font-size: 20px;
   bottom: 0;
   width: 100%;
}
#navbar1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: #46022c;
   border-radius: 2px;
}
.login-header-box {
    border: 2px solid #2a7ae2;
    border-radius: 10px;
    padding: 18px 0;
    margin: 30px auto 20px auto;
    width: 60%;
    background: #f4faff;
    box-shadow: 0 2px 8px rgba(42,122,226,0.07);
    text-align: center;
}